<!doctype html>
<html>
<head>
  <title> Alliance -- {% block title %}{% endblock %} </title>
  {% block style %}{% endblock %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src = "https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.dev.js"> </script>
  <link href="https://fonts.googleapis.com/css?family=Almendra:400,400i,700,700i" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
      {% block content %} {% endblock %}
</body>
</html>
