{%extends 'base.html' %}
{% block title %}Join{% endblock %}
{% block info %}
  <h1>Welcome to Alliances</h1>
  <p>The rules are simple. You and several of your friends all get together to join a game. You each take turns making moves. On your move, you can click on a square bordering your territory to capture (for a price) or you can even change teams. </p>
  <p>To create a game, simply choose a code, then share the code with your friends</p>
{% endblock %}
{% block content %}
 <form method="post">
    <label for="join_code">Join Code</label>
    <input name="join_code" id="join_code" required>
    <label for="nickname">Nickname</label>
    <input name="nickname" id="nickname" required>
    <input type="submit" value="Enter Game!">
 </form>
{% endblock %}