<!doctype html>
<html>
  <head>
    <title> Alliance -- Join Game </title>
    <link rel = "stylesheet" href = "{{ url_for('static', filename='style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.dev.js"> </script>

  </head>
  <body>
    <div id = "info">
    <div style = "float: right">
	    <form method = 'post'>
      		<button  type = "submit" name = "start_game"> Start Game </button>
	    </form>
    </div>


    <h1> Play Alliance </h1>
    <p> <b> Room: </b> {{join_code}} </p>
    <p> <b> Players: </b> {{players}} </p>
    <p> <b> Nickname: </b> {{nickname}} </p>

      <div id = "log" class = "log-area">
        <!--Log Messages will be added here -->
      </div>
    </div>

    <script>
    console.log("connected");

    var socket = io.connect();

    //when you recieve a message append it to the log



    socket.on('message', function(msg) {
        if(msg.room == "{{join_code}}") {
          $('#log').prepend('<p>Received: ' + msg.data + '</p>');
        }
    });

    function startGame() {
      console.log("emit");
      socket.emit('start_game');
    }
  </script>
  </body>
</html>
