{%extends 'base.html' %}
{%block title %}Lobby{% endblock %}
{% block info %}
   <div class = explanation>
    <h4>Welcome to the Lobby. Wait here while the rest of your team joins using the code below. When you're ready, press start</h4>
  </div>
  <div id = code>
    <h1><b>CODE: </b>{{ join_code }}</h1>
  </div>
  <div id = "log" class = "log-area">
      <!--Log Messages will be added here -->
  </div>
{%endblock %}
{% block content %}
  <div id = "playertext" >
    <h1 style = "text-align: center">Players</h1>
    <div  class = 'playerdiv' style="float:left"><p id = "player1"></p></div>
    <div class = 'playerdiv' style="float:right"><p id = "player2"></p></div>
    <div class = 'playerdiv' style = "float:left"><p id = "player3"></p></div>
    <div class = 'playerdiv' style = "float:right"><p id = "player4"></p></div>
    <button  onclick = "startGame()" id = "startbutton"> Start Game </button>
    <h1 style = "text-align: center; font-size: 54px">CODE: {{ join_code }}
  </div>
  <script>
    console.log("connected");

    var socket = io.connect("/lobby");

    //when you recieve a message append it to the log
    socket.on('update_money', function(msg) {
              console.log("players: " + msg.data);
      if(msg.room == "{{join_code}}") {
        console.log("players: " + msg.data);
        options = Object.keys(msg.data);
        for(var i = 0; i < options.length; i++) {
          if(msg.data[options[i]] != null) {
            console.log("worked");
            $("#"+options[i]).text(""+msg.data[options[i]].nickname);
            $("#"+options[i]).parent().css("display", "inline");
          }
        }
      }
    });


    socket.on('message', function(msg) {
        if(msg.room == "{{join_code}}") {
          $('#log').prepend('<p>Received: ' + msg.data + '</p>');
        }
    });

    socket.on('redirect', function (data) {
      window.location = data.url;
    });

    function startGame() {
      console.log("emit");
      socket.emit('start_game');
    }
  </script>
{% endblock %}