{%extends 'base.html' %}
{%block title %}Lobby{% endblock %}
{% block info %}
   <div class = explanation>
    <h4>Welcome to the Lobby. Wait here while the rest of your team joins using the code below. When you're ready, press start</h4>
  </div>
  <div id = code>
    <h1><b>CODE: </b>{{ join_code }}</h1>
  </div>
  <div id = "log" class = "log-area">
      <!--Log Messages will be added here -->
  </div>
{%endblock %}
{% block content %}
  <div id = "namecontainer" >
    <h1 style = "text-align: center">Players</h1>
    <div  class = 'playerdiv' style="float:left"><p id = "1"></p></div>
    <div class = 'playerdiv' style="float:right"><p id = "2"></p></div>
    <div class = 'playerdiv' style = "float:left"><p id = "3"></p></div>
    <div class = 'playerdiv' style = "float:right"><p id = "4"></p></div>
    <button  onclick = "startGame()" class = "game_button"> Start Game </button>
    <h1 style = "text-align: center; font-size: 54px">CODE: {{ join_code }}
  </div>
  <script>
    console.log("connected");

    var socket = io.connect("/lobby");

    //when you recieve a message append it to the log
    socket.on('emit_lobby', function(msg) {
      console.log("RECEIVED emit_lobby");
      console.log("players: " + msg.data);
      if(msg.room == "{{join_code}}") {
        players = msg.data;
        for(var i = 1; i <= players.length; i++) {
            $("#"+i).text(""+players[i-1]);
            $("#"+i).parent().css("opacity", "1"); 
        }
        for(var i = players.length + 1; i <= 4; i++) {
            $("#"+i).text("");
            $("#"+i).parent().css("opacity", ".2"); 
        }
      }
    });


    socket.on('message', function(msg) {
        if(msg.room == "{{join_code}}") {
          $('#log').prepend('<p>Received: ' + msg.data + '</p>');
        }
    });

    socket.on('redirect', function (data) {
      socket.emit("set_player_num");
      window.location = data.url;
    });

    function startGame() {
      console.log("emit");
      socket.emit('start_game');
    }
  </script>
{% endblock %}
