body {
  font-family: sans-serif;
}

form {
  float:center;
}

.log-area {
  height: 200px;
  overflow-y: scroll;
  background-color: lightblue;
  border-radius: 15px;
  margin-bottom:5px;
  padding: 5px;
  font-size: 18px;
}

#info {
  width: 30%;
  float: right;
}

#board {
  width: 70%;
  float: left;
}

.error {
	color:#FF0000;
	font-size: 22px;
}